.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.border{
    border-style: double;
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(224,29,253,1) 50%, rgba(252,176,69,1) 100%);}

.enterText{
    font-size: x-large;
    font: bold;
}